.container {
    padding: 24px;
    position: relative;
    height: calc(100vh - 98px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__gradient {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 56px;
        background: linear-gradient(180deg, #F6F4F5 0%, rgba(246, 244, 245, 0) 100%);
        z-index: 10;
    }

    &__msgs {
        overflow-y: auto;
        margin-bottom: 8px;
        flex-grow: 1;
        position: relative;
    }

    &__form {
        height: 48px;
        flex-grow: 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        &__input {
            padding: 11px 12px 11px 16px;
            display: flex;
            justify-content: space-between;
            border: 2px solid #C4C2C4;
            box-sizing: border-box;
            border-radius: 14px;
            flex-grow: 1;
            margin-right: 8px;

            &__area {
                resize: none;
                border: none;
                display: flex;
                align-items: center;
                flex-grow: 1;
            }

            &__add {
                border: none;
                background: inherit;
                color: #C4C2C4;
                flex-grow: 0;
                cursor: pointer;
            }
        }

        &__enter {
            box-shadow: 0px 6px 12px -6px rgba(18, 20, 23, 0.12), 0px 8px 24px -4px rgba(18, 20, 23, 0.08);
            border-radius: 14px;
            background: #3454D1;
            border: none;
            color: #F6F4F5;
            width: 48px;
            height: 48px;
            flex-grow: 0;
            cursor: pointer;
        }
    }
}