.wrapper {
    display: flex;
    margin-bottom: 8px;
}

.container {
    position: relative;
    flex-grow: 0;
    max-width: 100%;

    &__content {
        padding: 11px 12px 11px 16px;
        
        &__name {
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            color: #3454D1;
        }

        &__message {
            display: flex;

            &__text {
                white-space: normal;
                font-size: 16px;
                line-height: 125%;
                margin-right: 8px;
                width: 100%;
                word-break: break-all;
            }

            &__date {
                display: flex;
                align-self: flex-end;
                font-size: 12px;
                line-height: 125%;
                top: calc(50% - 12px/2 + 0.5px);
            }
        }
    }
}